@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Geom:ital,wght@0,300..900;1,300..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+NZ+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #eeeff1;
    font-family: "Geom", sans-serif;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;

}

.left {
    font-size: 20px;

}

.left .title {
    color: #009dff;
    letter-spacing: 2px;
}

.left span {
    color: #004cc7;
}

.left .txt {
    color: rgba(0, 0, 0, 0.493);
}

.right {
    padding: 30px;
    border-radius: 20PX;
    text-align: center;
    width: 15%;
    background-color: white;
    height: 590PX;
    margin-top: 50PX;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.406);

}

.right .graduation {
    font-size: 25px;
    display: inline;
    padding: 10px;
    background-color: #eff6ff;
    color: #009dff;
    border-radius: 10px;
}

.right .ex {
    margin-top: 50px;
    line-height: 13px;
    margin-bottom: 50px;
}

.right .ex p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.499);
}

form {
    text-align: start;
    color: rgba(0, 0, 0, 0.744);
    font-size: 15px;
}

form input {
    margin: 10px 0px;
    padding: 15px;
    width: 87%;
    background-color: #eeeff1;
    border: 0px;
    border-radius: 10px;
}

form button {
    padding: 20px;
    width: 100%;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #004cc7;
    border: 0px;
    border-radius: 5px;
    transition: .5s;

}

form button:hover {
    background-color: #009dff;
}


form button a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

form p {
    text-align: center;
}

form .logos {
    justify-self: center;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

form a:hover {
    color: #2c5699;
}


@media (max-width: 1024px) {
    .right {
        width: 35%;
    }
}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .left {
        text-align: center;
        font-size: 18px;
    }

    .right {
        width: 100%;
        height: auto;
        margin-top: 0;
        padding: 25px 20px;
    }

    form input {
        width: 100%;
    }

    form .logos {
        width: 100%;
        justify-content: center;
        gap: 15px;
    }
}