@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Geom:ital,wght@0,300..900;1,300..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+NZ+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: "Geom", sans-serif;

    background-color: #eeeff1;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.page {
    padding: 0px 50px;
    display: flex;
    height: 750px;
    align-items: center;
}

.left {
    flex: 1;
    padding: 65px;
    background: linear-gradient(180deg, #f9fbff, #eef3ff);
}

.logo {
    color: #2563eb;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
}

.left h1 {
    font-size: 48px;
    margin: 25px 0;
    color: #0f172a;
}

.left h1 span {
    color: #2563eb;
}

.left p {
    max-width: 450px;
    color: #64748b;
    line-height: 1.7;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.feature {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.feature h4 {
    color: #0f172a;
    margin-bottom: 5px;
}

.feature span {
    color: #64748b;
    font-size: 14px;
}


.right {
    width: 420px;
    background: #fff;
    padding: 50px 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.406);
}

.right h2 {
    text-align: center;
    color: #0f172a;
}

.subtitle {
    text-align: center;
    color: #64748b;
    margin-bottom: 30px;
    font-size: 14px;
}

form label {
    display: block;
    margin: 15px 0 5px;
    font-size: 14px;
    color: #334155;
}

form input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #e2e8f0;
    outline: none;
}

.row {
    display: flex;
    gap: 15px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 15px 0;
    font-size: 13px;
    color: #475569;
}

.checkbox a {
    color: #2563eb;
    text-decoration: none;
}

.button {
    padding: 12px 133px;
    background: #2563eb;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.button a {
    color: white;
    text-decoration: overline;
}

.or {
    text-align: center;
    margin: 25px 0 15px;
    font-size: 12px;
    color: #94a3b8;
}

.social {
    display: flex;
    gap: 15px;
}

.social a {
    flex: 1;
    text-align: center;
    padding: 12px;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    text-decoration: none;
    color: #0f172a;
    font-size: 14px;
}

.login {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login a {
    color: #2563eb;
    text-decoration: none;
}




@media (max-width: 1024px) {
    .page {
        padding: 0 20px;
    }

    .left {
        padding: 40px;
    }
}

@media (max-width: 768px) {

    body {
        overflow: auto;
    }

    .page {
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .left {
        padding: 40px 20px;
        text-align: center;
    }

    .left h1 {
        font-size: 32px;
    }

    .left p {
        max-width: 100%;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .right {
        width: 100%;
        box-shadow: none;
        padding: 30px 20px;
    }

    .row {
        flex-direction: column;
    }

    .button {
        width: 100%;
        padding: 14px;
    }

    .social {
        flex-direction: column;
    }
}