@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300..700&family=Poppins:wght@300..700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f6f9;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;   
}

.logo img {
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

nav form {
    position: relative;
}

nav form input {
    padding: 10px 35px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

nav form span {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #004cc7;
}

.register .signup {
    background: #004cc7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 5px;
}

header {
    min-height: 90vh;
    background: linear-gradient(120deg, #010f3c, #004cc7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    padding: 40px;
}

header h1 {
    font-size: 48px;
}

header p {
    margin-bottom: 50px;
}

.txt {
    animation: fade 1.5s forwards;

}

.txt a {
    background: #fff;
    width: fit-content;
    padding: 15px 35px;
    border-radius: 30px;
    margin-top: 50px;
    color: #004cc7;
    transition: .5s;
}

.txt a:hover {
    background-color: #004cc7;
    color: white;
}

header .img {
    text-align: center;
    animation: fadee 1.5s forwards;
}

header img {
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadee {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.salsabil0 {
    padding: 80px 20px;
    text-align: center;
}

.salsabil0 .container {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.salsabil0 .card {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    transition: .4s;
}

.salsabil0 .card img {
    width: 200px;
    margin-top: 20px;
}

.salsabil0 .card:hover {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.y {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 80px 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 20px 0;
}

ul li a {
    background: #004cc7;
    color: #fff;
    padding: 15px 35px;
    border-radius: 30px;
    display: inline-block;
    transition: .3s;
}

ul li a:hover {
    transform: scale(1.15);
}

footer {
    background: #020a2e;
    padding: 60px 40px;
    color: #aaa;
    cursor: pointer;
    transition: .2s;
}

footer section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .c {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

footer p:hover
{
    color: white;
    text-decoration: underline #004cc7;
}

.logos {
    display: flex;
    gap: 10px;
}

.logos a {
    color: #fff;
    font-size: 20px;
    gap: 10px;
}

.offer {
    text-align: center;
    margin-bottom: 100px;
}

.offer a {
    padding: 20px;
    background-color: #010f3c;
    color: white;
    border-radius: 10px;
    transition: .5s;
}

.offer a:hover {
    background-color: #004cc7;
}

.s1 {
    text-align: center;
    margin-bottom: 100px;
}

.mm,
.s,
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-bottom: 100px;
    line-height: 30px;
}

.mm a,
.s a,
.second a {
    padding: 20px;
    background-color: #010f3c;
    color: white;
    border-radius: 10px;
    transition: .5s;

}

.mm a:hover,
.s a:hover,
.second a:hover {
    background-color: #004cc7;
}