@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Geom:ital,wght@0,300..900;1,300..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+NZ+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: #eeeff1;
    font-family: "Geom", sans-serif;
    margin: 0px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #004cc7;
    border-bottom: 1px solid #009dff;
}

nav form input {
    position: absolute;
    left: 45%;
    top: 20px;
    z-index: 0;
    padding: 10px;
    text-align: center;
}

nav form input:hover {
    border: 2px solid #2173f3;
}

nav form span {
    position: relative;
    right: 70px;
    top: -3px;
    bottom: 2px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.493);
    z-index: 1;
    color: #2173f3;
}

nav .logo {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

nav .logo span:hover {
    color: #009dff;
}

nav .logo img {
    border-radius: 10px;
}

nav .register {
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
}

nav .register a {
    text-decoration: none;
}

nav .register .login {
    color: #2173f3;
}

nav .register .login:hover {
    text-decoration: underline #2173f3;
}

nav .register .signup {
    background-color: #004cc7;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

nav .register .signup:hover {
    border: 2px solid black;
}

header {
    display: flex;
    margin-top: 0px;
    background-color: #010f3c;
    height: 692px;
    justify-content: space-around;
    align-items: center;
    color: wheat;
    padding: 0px 200px;
}

header p {
    width: 60%;
}

header .img {
    opacity: 0;
    transform: translateX(500px);
    animation: come 2s ease-out forwards;
    text-align: center;
}

header .img p {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

header .txt {
    transform: translateX(-500px);
    animation: come 2s ease-out forwards;
}

header .img img {
    border: 5px solid blue;
    border-radius: 50px 200px 200px 50px;
}

@keyframes come {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

header .title {
    font-size: 70px;
}

.txt .learn {
    padding: 20px;
    background-color: #004cc7;
    width: 20%;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
}

.txt .learn:hover {
    background-color: #009dff;
    border: 2px solid wheat;
}

.txt .learn a {
    color: white;
    text-decoration: none;
}

.first .mm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 70px;
}


.s {
    display: flex;
    height: 500px;
    align-items: center;
    text-align: left;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

.s .learn a {
    background-color: blue;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 17px;
    font-style: normal;
    margin: 16px;
}

.s span {
    background-color: #8ec7bb;
    padding: 0 3px;
    border-radius: 2px;
    display: inline-block;
}




.first .text h1 {
    font-size: 40px;
}

.first .text p {
    font-size: 10;
    margin: 20px 0px;
    color: gray;

}

.first .text a {
    text-decoration: none;
    background: blue;
    color: #000;
    padding: 8px 15px;
    border-radius: 20px;
}

.first .image {
    width: 20%;
}

.first .text a:hover {
    color: #fff;
    background: rgb(142, 99, 191);


}


.s1 {
    text-align: center;
    height: 500px;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-bottom: 100px;

}

.salsabil p {
    color: rgb(46, 45, 45);
}

.salsabil0 .container {
    max-width: 1100px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
}

.salsabil0 h1 {
    text-align: center;
    color: black;
    font-weight: 500px;
    font-size: 40px;
    margin-top: 100px;
    padding: 0px 70px;
}

.salsabil0 .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
}

.salsabil0 .card {
    flex: 1;
    min-width: 280px;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.salsabil0 .card img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.salsabil0 .card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #21242c;
}

.salsabil0 .card p {
    font-size: 15px;
    line-height: 1.5;
    color: #555;
    margin: 0;
    padding: 0 10px;
}

.second {
    display: flex;
    height: 700px;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
}

.second .Teachers p {
    color: gray;
}

.second .Teachers a {
    background-color: #031d4b;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.second .Teachers a:hover {
    background-color: #009dff;
}

.y {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

ul {
    text-align: center;
}

ul:hover li a {
    opacity: 0;
}

ul li {
    list-style: none;
    margin: 24px 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    background: darkblue;
    padding: 15px 30px;
    border-radius: 20px;
    display: inline-block;
    width: 120px;
    transition: 0.5s;
    text-transform: uppercase;
    z-index: 10;
}

ul li a:hover {
    transform: scale(1.5);
    background: darkkhaki;
    opacity: 1;
}

ul li::after {
    content: attr(date-text);
    content: attr(data-text);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    letter-spacing: 50px;
    pointer-events: none;
    transition: 0.5s;
}

ul li:hover:after {
    opacity: 0.5;
    letter-spacing: 5px;
}


ul li ::before {
    content: '';
    width: 180px;
    height: 80px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 70%);
    border-radius: 50%;
    box-shadow: 0 0 100px rgb(229, 3, 3);
    opacity: 0;
    transition: 0.5s;
}

ul li:hover::before {
    opacity: 0.5;
    width: 180px;
}

h2 {

    font-family: 'Source Serif Pro', 'Noto Serif', serif;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    align-items: center;
}

.offer {
    text-align: center;
    padding: 70px;
    color: rgb(99, 214, 176);
}

.offer h1 {
    font-size: 34px;
    color: black;
    line-height: 1.4;
}

.offer span {
    background-color: #ffc34b;
    padding: 2px 9px;
    border-radius: 40px;
}

.offer .Book {
    background-color: #009dff;
    color: white;
    padding: 15px 30px;
    border: 2px gray;
    border-radius: 5px;
    bottom: 20px;
    transition: 0.3s;
}

.offer .Book:hover {
    background-color: #004cc7;
    box-shadow: 3px 7px;
    color: white;
}

footer {
    margin-top: 100PX;
    background-color: rgb(4, 4, 56);
    height: 700px;
    padding-top: 50PX;
    padding-right: 200PX;
    cursor: pointer;
}

footer p {
    color: #696868;
    margin-left: 200px;
    transition: .2s;
}

footer section {

    display: flex;
    justify-content: space-between;
}

footer select {
    margin-left: 200px;
    background-color: transparent;
    border: 0px;
    color: white;
}

footer select option {
    background-color: #010f3c;
}

footer img {
    width: 15px;
    height: 15px;
}

footer .c {
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .c .logos {
    font-size: 20PX;
    display: flex;
    width: 100px;
    justify-content: space-around;
}

footer p:hover {
    color: white;
    text-decoration: underline #2173f3;
}


@media (max-width: 1024px) {
    nav {
        padding: 0 40px;
    }

    header {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }

    nav .logo {
        margin-left: 0;
    }

    nav form input {
        position: static;
        width: 100%;
    }

    nav .register {
        width: 100%;
        justify-content: center;
        gap: 15px;
    }

    header {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
        text-align: center;
    }

    header .title {
        font-size: 36px;
    }

    header p {
        width: 100%;
    }

    header .img img {
        width: 100%;
        max-width: 300px;
    }

    .txt .learn {
        width: 100%;
    }

    .s,
    .second {
        flex-direction: column;
        height: auto;
        margin-left: 0;
        padding: 20px;
        text-align: center;
    }

    .first .mm {
        flex-direction: column;
        gap: 30px;
    }

    .first .image {
        width: 60%;
    }

    .salsabil0 .container {
        gap: 30px;
    }

    .offer {
        padding: 30px 15px;
    }

    footer {
        height: auto;
        padding: 40px 20px;
    }

    footer section {
        flex-direction: column;
        gap: 20px;
    }

    footer p,
    footer select {
        margin-left: 0;
        text-align: center;
    }

    footer .c {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
}